* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: #081b29;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a:hover {
    color: #0ef;
}

/* HOME SECTION */
.home {
    width: 100%;
    height: 100vh;
    padding: 100px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        rgba(8, 27, 41, 0.9),
        rgba(8, 27, 41, 0.9)
    );
}

/* TEXT CONTENT */
.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 28px;
    font-weight: 700;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 52px;
    font-weight: 900;
    margin: 10px 0;
}

.home-content p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 10px;
}

/* SOCIAL ICONS */
.home-sci {
    margin: 30px 0;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #0ef;
    color: #0ef;
    font-size: 22px;
    transition: 0.3s;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

/* BUTTON */
.btn-box {
    display: inline-block;
    padding: 12px 30px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    font-weight: 600;
    text-decoration: none;
}

/* RIGHT IMAGE */
.home-img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    padding: 8px;

    background: linear-gradient(45deg, #0ef, #a855f7);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        0 0 30px #0ef,
        0 0 70px rgba(168, 85, 247, 0.7);
}

.home-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
